*, *::before, *::after {
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    padding: 1em;
}

.row {
    width: 85%;
    margin: 0 auto;
}

img {
    max-width: 100%;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

body {
    margin: 0;
}

/*====================NAV-BAR START=====================*/
nav {
    background-color: #2E323F;
    color: white;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 18px;
    justify-content: center;
    text-align: center;
}


.nav-list + .nav-list {
    margin-top: 0.5em;
}

.list-buttonlike {
    max-width: 100px;;
    background-color: #A59678;
    /*border: 1px solid red;*/
    border-radius: 30px;
    margin: 0 auto;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}


/*=====================NAV-BAR END======================*/

/* =============SECTION-1 START=========================*/

.section-1 {
    background-color: #3B4050;
}
.section-1 h2 {
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 55px;
}

.white-span {
    color: white;
}

.span-color {
    color: #A59678
}

.section-1 p {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    color: white;
}

.section-1-button-like {
    max-width: 300px;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: white;
    background-color: #A59678;
    /*border: 1px solid red;*/
    border-radius: 30px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    
}

/*================SECTION-1 END=================*/

/*=================SECTION-2 START=============*/

.section-2 {
    background-color: gray;
    text-align: center;
}

.section-2 h2 {
    color: #A59678;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 30px;
    
}

.section-2-black-color {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
   
}



/*==================SECTION-2 END================*/

/*==================SECTION-3 START=================*/
.section-3 {
    background-color: white;
}

.color-box {
    background-color: #2E323F;
    padding: 1em;
}

.color-box + .color-box {
    margin-top: 10px;
}

.heading {
    color: #A59678;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 36px;
}

.white-heading {
    color: white;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}

.white {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    text-align: center;
}

.black-color {
    font-family: 'Montserrat', sans-serif;
    font-size: 21px;
}

/*====================SECTION-3 END==================*/


/*=====================FOOTER START==================*/
footer {
    background-color: #3B4050;

}

.footer-heading {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 24px;
}

footer h2 {
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 21px;
    color: #A59678;
}

.footer-white {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: white;
}

.footer-li {
    list-style-type: none;
}

.footer-li + .footer-li {
    margin-top: 1em;
}


/*============================FOOTER END=============*/